@font-face {
    font-family: 'General Sans';
    src: url(./GeneralSans-Medium.otf);
    src: url(./GeneralSans-Regular.otf);
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'General Sans';
    cursor: none;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}
/* #cursor1{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    z-index: 9999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .8s;
} */
/* #cursor2{
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    border: 1px solid white;
    transform: translate(-50%, -50%);
    z-index: 9999;
} */
.cursor{
    display: none;
}
.inner-cursor{
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
    z-index: 1000;
}
.inner-cursor.grow{
    width: 5.6rem;
    height: 5.6rem;
    background-color: white;
    /* mix-blend-mode: difference; */
    transition: width 0.5s, height 0.5s;
    z-index: 1000;
}

.outer-cursor.groww{
    /* width: 70px;
    height: 70px; */
    border: 0px solid rgb(255, 255, 255);
    /* background-color: transparent; */
    /* mix-blend-mode: difference; */
    transition: width 0.5s, height 0.5s;
    z-index: 1000;
}
.outer-cursor{
    position: fixed;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    border: 1px solid white;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    pointer-events: none;
    transition: 0.1s;
    z-index: 1000;
}
::-webkit-scrollbar{
    width: 0;
}
#scrollPath{
    z-index: 12;
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background-color: rgba(59, 59, 59, 0);
}
#progressBar{
    z-index: 12;
    position: fixed;
    top: 0;
    left: 0;
    /* left: 0;
    right: 0; */
    border: 2px solid rgb(0, 0, 0);
    width: 5px;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}
#progressBar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(0px);
}
#progressBar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(0px);
}
#main{
    overflow: hidden;
    position: relative;
    background-color: rgb(17, 193, 81);
    width: 100%;
    /* padding: 0 2rem; */
}
#page1{
    color: white;
    background-color: rgb(0, 0, 0);
    position: relative;
    width: 100%;
    /* height: 100vh; */
    /* margin-top: 10vw; */
    padding: 0 2rem;
    padding-bottom: 3rem;
}
#head a{
    display: flex;
    align-items: center;
    border-radius: 50%;
}
#head a img{
    cursor: pointer;
    width: 40px;
    border-radius: 50%;
}
.heading{
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 99%;
    background-color: transparent;
    /* width: 93%; */
    /* margin-top: 100px; */
    /* mix-blend-mode: difference; */
    padding: 6px 25px;
    z-index: 10;
    /* background-color: rgba(88, 67, 67, 0); */
}
.headLinks{
    /* width: 40%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.headLinks a{
    color: white;
}
#menu{
    background-color: black;
}
.sticky{
    position: fixed !important;
    /* background-color: rgb(0, 0, 0); */
    top: 0;
    /* padding: 5px 25px; */
}
.sticky a img{
    width: 43px;
    border: 2px solid rgb(69, 68, 68);
}

#head a,#head h3{
    text-decoration: none;
    cursor: pointer;
    mix-blend-mode: difference;
    font-weight: 100;
    font-size: 1.0625rem;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 2px;
    /* opacity: 0; */
    /* animation: slideDown .8s ease forwards;
    animation-delay: .1s; */
}
/* @keyframes slideDown{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    /* 50%{
        transform: translateY(-10px);
        opacity: 0.5;
    } */
    /* 100%{
        transform: translateY(0);
        opacity: 1;
    } */


#head a:hover{
    
    text-decoration: underline;
}
#head h3:hover{
    text-decoration: underline;
}
#menu{
    z-index: 11;
    transition: 5s;
}

.dropmenu{
    transform: translateX(500px);
    transition: .9s;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    right: -1%;
    top: 0%;
    width: 30vw;
    padding-top: 3rem;
    height: 100vh;
    z-index: 10;
    cursor: pointer;
    /* border-radius: 10px; */
}

.dropmenu a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: .5rem;
    font-weight: 700;
    
}
.dropdiv{
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    margin: 2px;
    width: 60vw;
    /* padding: 1.5rem 0; */
    /* border-radius: 10px; */
    transition: .5s;
    /* border-bottom: 2px solid rgb(255, 255, 255); */
    
}
.dropdiv:hover{
    text-decoration: none;
    /* padding: .7rem 0;
    font-size: .7rem;
    margin: 3px 0; */
}
.dropdiv h2{
    cursor: pointer;
    font-family: 'General Sans Medium';
    font-weight: 500;
    padding: 1.7rem 0;
    /* text-align: left; */
    /* padding-bottom: 2rem; */
}

#headingLine{
    padding-top: 10rem;
    line-height: 1;
    padding-bottom: 11rem;
    /* margin-bottom: 5rem; */
}
.line1{
    width: fit-content;
    overflow: hidden;
    /* background-color: #00ffe7; */
}
.line1 .line_tag{
    transform: translateY(102%);
}
.line2 .line_tag{
    transform: translateY(129%);
}
.line1 h1{
    font-size: 9vw;
    opacity: .5;
    font-family: "General Sans Medium";
    font-weight: 400;
}
.line2{
    overflow: hidden;
    width: fit-content;
    text-align: right;
    
}
.line2 h1{
    font-size: 9vw;
    margin-left: 210px;
    opacity: .5;
    font-family: "General Sans Medium";
    font-weight: 400;
}
.line2 h2{
    font-size: 1.4vw;
    font-weight: 100;
    font-family: "General Sans Medium";
    font-weight: 500;
}
#socialbar{
    position: fixed;
    top: 40%;
    right: .8%;
    /* width: fit-content; */
    text-align: center;
    z-index: 10;
}
#socialbar h4{
    font-size: 1rem;
    line-height: 1rem;
    color: rgb(131, 131, 131);
}
.socials{
    display: flex;
    flex-direction: column;
    /* height: fit-content;
    width: fit-content; */
    /* background-color: white; */
}
#git i{
    font-size: 1.7rem;
    color: rgb(149, 0, 255);
    cursor: pointer;
}
.socials a{
    padding: 5px 0;
    text-decoration: none;
}
#linked i{
    font-size: 1.7rem;
    color: blue;
    cursor: pointer;
}
#mail i{
    font-size: 1.5rem;
    color: rgb(239, 2, 2);
    cursor: pointer;
}
.arrow{
    text-decoration: none;
    color: white;
}
.arrow div{
    cursor: pointer;
}
.arrow div i{
    cursor: pointer;
}
#foot{
    overflow-x: hidden !important;
    /* position: absolute; */
    bottom: 4%;
    width: 93%;
    align-items: center;
    display: flex;
    justify-content: space-between !important;
}
#foot h3{
    font-size: 1rem;
    cursor: pointer;
}
#foot h3 a{
    text-decoration: none;
    color: white;
}
#foot h3:hover{
    text-decoration: underline;
}
#socialMedia{
    display: none;
}

/* ---------------------- Page 2 ---------------- */

.bold{
    cursor: pointer;
    /* width: fit-content; */
}
#page2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
    color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 1.5rem;
    background-color: rgb(0, 0, 0);
}
/* .about_page{
    display: flex;
    justify-content: center;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
} */
/* .about_page h3{
    width: fit-content;
    
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "General Sans Medium";
    font-weight: 800;

} */
.myImage{
    width: 40%;
    /* border: 2px solid red; */
    margin: 1rem;
    text-align: center;
}
.myImage img{
    width: 60%;
    /* height: 50vh; */
    object-fit: cover;
    border-radius: 30rem;
}
.about_info{
    width: 40%;
    /* height: 80vh; */
    /* border: 2px solid red; */
    margin: 1rem;
    
}

.about_info h3{
    margin-bottom: .5rem;
    opacity: .6;
    text-transform: uppercase;
}
.about_info p{
    margin-right: 2rem;
    font-size: 1.4rem;
    overflow: hidden;
    font-family: "General Sans Medium";
}
.about_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 4rem;
    /* flex-wrap: wrap; */
    /* display: grid;
    grid-template-columns: 1fr 1fr;*/
    text-align: justify;
}
.about_info p{
    margin-bottom: 2rem;
}
.about_info h2{
    font-size: 1.4rem;
    font-weight: 500;
}
.about_info h2 span{
    /* font-size: 1.4rem; */
    color: grey;
}
/*------------------------Page3-------------------*/
#page3{
    width: 100%;
    padding: 1rem 1rem 3rem 1rem;
    background-color: rgb(0, 0, 0);
}
.education_page{
    display: flex;
    justify-content: center;
}
.education_page h3{
    color: white;
    width: fit-content;
    font-size: 3rem;
    text-align: center;
    padding-top: 3rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "General Sans Medium";
    font-weight: 800;
    
}
.timeline{
    position: relative;
    margin: 5rem auto;
}
.timeline_box{
    padding: 30px 50px;
    position: relative;
    width: 50%;
    margin-bottom: 1.5rem;
    border-radius: 6px;
    background-color: rgb(0, 0, 0);
    transition: 0.4s;
}
.timeline_text_box:hover{
    transform: scale(1.030);
}
.timeline_box img{
    position: absolute;
    width: 50px;
    border-radius: 50%;
    right: -23px;
    top: 50px;
    z-index: 1;
}
.right_box img{
    left: -23px;
}
.timeline_text_box{
    padding: 20px 30px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.4s;
}
.timeline_text_box h2{
    text-transform: uppercase;
}
.timeline_text_box h2, .timeline_text_box h4{
    margin-bottom: 10px;
}
.blue{
    color: blue;
}
.grey{
    font-weight: 700;
    color: rgb(96, 95, 95);
}
.left_box{
    left: 0;
}
.right_box{
    left: 50%;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(255, 255, 255);
    height: 110%;
    top: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 5px;
}
.left_arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right: -14px;
}
.right_arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    left: -14px;
}

/* --------------------------Page4------------------------ */

#page4{
    /* width: 100%;
    background-color: rgb(0, 0, 0);
    padding-right: 10vw;
    padding-top: 200px;
    color: white; */
    color: #fff;
    padding-right: 10vw;
    padding-top: 70px;
    padding-bottom: 10rem;
    background-color: black;
    width: 100%;
    /* height: 100vh; */
    /* padding-bottom: 80rem; */
}
#page4 h1:nth-child(1){
    font-size: 3rem;
    margin-left: 2rem;
    letter-spacing: 4px;
    margin-bottom: 4rem;
    text-transform: uppercase;
}
.projectelements{
    /* cursor: pointer;
    position: relative;
    width: 100%;
    padding: 3.5vw 3vw;
    border-top: 1px solid rgb(153, 153, 153);
    text-transform: uppercase;
    transition: .5s;
    display: flex;
    justify-content: space-between;
    align-items: center; */
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
}

.projectelements h1{
    /* cursor: pointer;
    font-size: 4vw;
    text-transform: uppercase;
    opacity: .6; */
    cursor: pointer;
    text-transform: uppercase;
    font-size: 2.5vw;
    opacity: .7;
}
.projectelements h2{
    font-size: .8rem;
    opacity: .6;
}
.projectelements img{
    /* display: none; */
    /* width: 40%;
    opacity: 0;
    position: absolute;
    z-index: 20; */
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    width: 50%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}
.elemlast{
    border-bottom: 1px solid #888;
}
/* --------------------------Page5------------------------ */

#page5{
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 10rem;
    /* height: 100vh; */
    color: white;
    background-color: rgb(0, 0, 0);
    
}
.skill_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2rem;
}
.skill_page{
    display: flex;
    justify-content: center;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
}
.skill_page h3{
    width: fit-content;
    /* padding: 6rem 2rem 2rem 2rem; */
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "General Sans Medium";
}
.skill{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 0rem;
    padding-bottom: 3rem;
    margin: 1rem;
    width: 20rem;
    height: 20rem;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.skill h3{
    font-family: "General Sans Medium";
    font-weight: 500;
    text-transform: uppercase;
}
.skill img{
    width: 10rem;
    margin-top: 2rem;
}
.skill_hover{
    position: absolute;
    overflow: scroll;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    color: white;
    background-color: rgb(24, 23, 23);
    /* opacity: .8; */
    text-align: justify;
    transition: .5s;
    padding: 20px;
    font-size: 1.1rem;
}
.skill_hover img{
    width: 3rem;
}

/*----------------------page 6--------------------------*/

#page6{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0rem 2rem;
    padding-top: 6rem;
    /* height: 90vh; */
    background-color: black;
    color: white;
    padding-bottom: 8rem;
}
.contact-Left{
    font-size: 4vw;
    display: flex;
    align-items: center;
}
.contact-Left h1{
    width: min-content;
}
.contact-right{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    flex-direction: column;
}
.contactMe{
    text-align: center;
    margin-bottom: 4rem;
}
.contactMe a{
    margin: 2rem 2rem;
    text-decoration: none;
    cursor: pointer;
}
.contactMe a i{
    font-size: 3rem;
}
.inputbox{
    display: flex;
    flex-direction: column;
}
.inputbox input, .inputbox textarea{
    color: white;
    margin: 1rem 0;
    margin-bottom: 2rem;
    padding: .5rem;
    border-radius: 5px;
    /* height: 4rem; */
    width: 29rem;
    font-size: 1rem;
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
    cursor: pointer;
}
.inputbox a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    width: fit-content;
    padding: .6rem;
    border-radius: 10px;
    
}
.inputbox a:hover{
    /* text-decoration: underline; */
    /* border-bottom: 1px solid white; */
    width: fit-content;
    background-color: #f879df;
    cursor: pointer;
}

/*--------------footer-----------------------------*/

#footer{
    padding: 1rem;
    text-align: center;
    /* border-top: 1px solid blue; */
    background-color: rgb(12, 11, 11);
    /* border-top: 1px solid white; */
}
#footer p{
    color: rgb(233, 233, 233);
    font-family: 'General Sans Medium';
}
#footer span{
    font-family: 'General Sans Medium';
    color: blue;
    margin: 0 3px;
}
@media (max-width: 1120px){
    /* .inner-cursor{
        display: none;
    }
    .outer-cursor{
        display: none;
    } */
    .about_info{
        width: 100%;
    }
    .about_box{
        flex-direction: column;
        /* overflow-wrap: break-word;
        grid-template-columns: none;
        grid-template-rows: .5fr 1fr;
        gap: 2rem; */
    }
    .about_info p{
        font-size: 1rem;
        margin: 0 1rem;
        margin-bottom: 1.5rem;
    }
    .about_info h2{
        font-size: 1rem;
        font-weight: 200;
        margin-left: 1rem;
    }
    .about_info h2 span{
        font-weight: 700;
    }
    .about_info h3{
        margin-left: 1rem;
    }
    .education_page h3{
        font-size: 10vw;
    }
    .dropmenu{
        width: 70vw;
        justify-content: start;
        padding-top: 4rem;
        padding-left: 1rem;
    }
    .dropdiv h2{
        width: 100vw;
        padding-left: 0;
        text-align: left;
        font-size: 1rem;
        padding: .5rem 0;
    }
}
@media (max-width: 520px){
    #main{
        width: 100%;
    }
    .heading{
        padding: 10px 15px;
        width: 100%;
        background-color: black;
    }
    #page1{
        padding: 0 5vw;
        height: 100vh;
    }
    .inner-cursor{
        display: none;
    }
    .outer-cursor{
        display: none;
    }
    .line1 h1{
        font-size: 15vw;
        opacity: .6;
    }
    .line2{
        width: fit-content;
        text-align: right;
    }
    .line2 h1{
        font-size: 15vw;
        margin-left: 5vw;
    }
    #headingLine{
        padding-top: 10rem;
    
        padding-bottom: 0;
    }
    .line2 h2{
        font-size: 2.5vw;
        line-height: 2;
    }
    .line2 h2:nth-child(2){
        font-weight: 100;
    }
    #socialMedia{
        display: flex;
        justify-content: center;
        margin-top: 30vw;
        margin-bottom: 71vw;
        text-align: center;
    }
    #socialMedia a{
        text-decoration: none;
        border-bottom: 2px solid white;
        margin-left: 3vw;
        padding: 0;
        background: none;
    }   
    #socialbar{
        display: none;
    }
    /* #socialMedia a i{
        background: none;
        border-radius: 20px;
    } */
    /* #socialMedia{
        padding-top: 23rem;
    } */
    #socialMedia a:hover{
        border-bottom: none;
        /* padding: 0; */
        /* background-color: white; */
        /* box-shadow: 0 0 20px 0 white; */
    }
    #foot{
        width: 100%;
        display: flex;
        justify-content: space-between;
        /* bottom: 10%; */
    }
    #foot h3{
        font-size: 5vw;
    }
    #foot div{
        display: none;
        
    }
    .about_page{
        width: 100%;
        padding: 1.5rem;
    }
    .myImage{
        width: 100%;
        margin: 0 0 20px 0;
    }
    .about_info{
        width: 100%;
        margin: 0;
        font-weight: 0;
    }
    .about_info p{
        font-size: 1rem;
        margin: 0 1rem;
        margin-bottom: 1.5rem;
    }
    .about_info h2 span{
        font-weight: 700;
        font-size: 1rem;
    }
    .about_info h2{
        font-size: 1rem;
        font-weight: 200;
        margin-left: 1rem;
    }
    .about_info h3{
        margin-left: 1rem;
    }
    .myImage img{
        width: 10rem;
        object-fit: cover;
    }
    .about_box{
        flex-wrap: wrap;
        /* overflow-wrap: break-word;
        grid-template-columns: none;
        grid-template-rows: .5fr 1fr;
        gap: 2rem; */
    }
    .timeline{
        position: relative;
        margin: 5rem auto;
    }
    .timeline_box{
        padding: 10px 20px 10px 40px;
        position: relative;
        width: 87%;
        /* background-color: rgb(39, 39, 39); */
    }
    .timeline_text_box:hover{
        transform: scale(1);
    }
    .timeline_box img{
        position: absolute;
        width: 40px;
        border-radius: 50%;
        left: -20px;
        top: 32px;
        z-index: 1;
    }
    .right_box img{
        left: -20px;
    }
    .timeline_text_box{
        padding: 20px 30px;
        background-color: rgb(255, 255, 255);
        position: relative;
        border-radius: 6px;
        font-size: 15px;
        transition: 0.5s;
    }
    .left_box{
        left: 10%;
    }
    .right_box{
        left: 10%;
    }
    .timeline::after{
        content: '';
        position: absolute;
        width: 6px;
        background-color: rgb(255, 255, 255);
        height: 100%;
        top: 0;
        left: 40px;
        margin-left: -3px;
        border-radius: 5px;
    }
    .left_arrow{
        height: 0;
        width: 0;
        position: absolute;
        top: 28px;
        z-index: 1;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid white;
        border-left: 0;
        left: -15px;
    }
    .right_arrow{
        height: 0;
        width: 0;
        position: absolute;
        top: 28px;
        z-index: 1;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid white;
        left: -14px;
    }

    #page4{
        padding: 2rem;
        
    }
    .projectelements{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .projectelements h1{
        font-size: 2rem;
    }
    .projectelements img{
        display: none;
    }

    #page5{
        padding: 2rem 0;
    }
    #page6{
        padding: 5rem 2rem;
    }
    .contact-Left{
        font-size: 1rem;
       
    }
    .contact-Left h1{
        display: contents;
        margin-bottom: 2rem;
    }
    .contactMe{
        margin-top: 3rem;
    }
    .contactMe a{
        margin: 2rem 1rem;
        text-decoration: none;
        padding-bottom: 5px;
        border-bottom: 2px solid white;
    }
    .contactMe a i{
        font-size: 2rem;
    }
    .inputbox{
        margin-bottom: 3rem;
    }
    .inputbox input, .inputbox textarea{
        width: 88vw;
        font-size: 1rem;
    }
    .inputbox a{
        text-decoration: none;
        color: white;
        font-size: 1rem;
        /* text-align: center; */
    }
}